h2 {
  margin-top: 0;
  color: red;
}

.card-container {
  background-color: rgb(97, 221, 235);
  height: 300px;
  width: 200px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

.image {
  width: 90%;
  height: 50%;
}

.stats {
  width: 90%;
  height: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
}
