.stats-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100% 100%;
  grid-gap: 5%;
  background-color: #fff  #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  /* font-size: 50%; */
}